body {
    font-family: Arial, sans-serif;
    background-color: black;
}

header {
    background-color: gray;
    color: orange;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
}

button {
    background-color: orange;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60;
}

#generatorText {
    color: white;
    text-align: center;
}

#mealOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mealOptions label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

#mealOptions select {
    width: 50%;
}

#mealOptions select,
#mealOptions label {
    padding: 5px;
}

#goalOptions {
    display: flex;
    flex-direction: column;

}

#goalOptions label {
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

#goalOptions input {
    margin-right: 10px;
}

#goalOptions label,
#goalOptions input {
    padding: 10px;
}